@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GlobalError</title>
</head>
<body>
    <div>
        @if (Model is null)
        {
            @: Model is null
        }
        else
        {
        <ul>
            <li>@Model.Exception.GetType().Name</li>
            <li>@Model.Exception.Message</li>
            <li>@Model.ControllerName</li>
            <li>@Model.ActionName</li>
            <li>@Model.Exception.StackTrace</li>
        </ul>
        }
    </div>
</body>
</html>
